#root {
  position: relative;
  width: 100%;
  height: 100vh;
}

.content {
  position: absolute;

  top: 0;
  left: 50%;
  transform: translate(-50%);

  width: 100%;
  height: 100%;

  overflow-y: scroll;
  overflow-x: hidden;
}

.tooltips {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  /* background-color: rgba(0, 0, 0, 0.2); */
}